<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @punto.tipo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @punto.nombre %>
</p>

<%= link_to 'Edit', edit_punto_path(@punto) %> |
<%= link_to 'Back', puntos_path %>
